.homechat{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chatBar{
  position: relative;
  display: flex;
  gap: 10px;
  top: 85%;
}

.chatTop{
  display: flex;
  justify-content: space-between;
}

.userDetails{
  width: 30%;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}