.home {
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
  display: flex;
  background: linear-gradient(178deg, #382d33, #292e34);
  justify-content: space-between;
  overflow: hidden;
}

/* signup css */
.signup-container {
  display: flex;
  /* Use flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
  /* Full height of the viewport */
  background-color: white;
  /* Background color */
}

.signup-form {
  max-width: 400px;
  /* Set maximum width for the form */
  width: 100%;
  /* Ensure it takes the full width up to the max */
  padding: 20px;
  /* Add some padding */
  border: 1px solid #ccc;
  /* Optional: Add a border */
  border-radius: 5px;
  /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add shadow for depth */
}

/* left part css */

.left {
  height: 100%;
  width: 30%;
  border: 1px solid white;
  overflow-y: scroll;
}

.chats {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.singlechats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 7px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.singlechats:hover {
  background-color: rgb(200, 199, 199);
}


.chatsdetails {
  display: flex;
  flex-direction: column;
}

/* right part css */
.right {
  height: 100%;
  width: 70%;
  border: 1px solid white;
}

.righttop {
  width: 99%;
  height: 7%;
  background-color: white;
  margin: 7px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.rightcenter {
  width: 99%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.my-message {
  align-self: flex-end;
  background-color: #e0ffe0;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 3px;
  max-width: 60%;
  text-align: center;
  width: fit-content;
  padding-right: 30px;
}

.other-message {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 3px;
  max-width: 60%;
  width: fit-content;
  text-align: center;
  padding-right: 30px;
}

.message-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.rightbottom {
  width: 99%;
  height: 8%;
}

.sendbar input {
  width: 100%;
  margin-left: 10px;
}

.sendbar {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
}

.backicon {
  display: none;
}


@media only screen and (max-width: 900px) {
  .right {
    width: 100%;
  }

  .left {
    display: none;
  }

  .backicon {
    display: block;
  }
}